@import url(//db.onlinewebfonts.com/c/511031ed9122c8ea1450b18b876221fe?family=SF+Pro+Rounded);
* {
	font-family:'SF Pro Rounded';
}
body {
	margin: 50px 200px;
}
h1 {
	margin-bottom: 30px;
}
.listing {
	 display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
	  gap: 30px 30px;
	  grid-template-areas:
	    ". . . ."
	    ". . . ."
	    ". . . .";
}
.listing >.item {
	padding:25px;
	border:.5px solid #bbb;
	border-radius:10px;
	display:flex;
	justify-content: space-between;
}
.listing >.item >.texts {
	display:flex;
	flex-direction: column;
	margin-right:50px;
}
.item a {
	background:#eee;
	border:.5px solid rgba(0,0,0,.2);
	border-radius: 7.5px;
	padding:10px 20px;
	cursor:pointer;
	transition: all 250ms;
	text-decoration: none;
	color:#222;
	font-size:13px;
}
.item a:hover {
	border:.5px solid rgba(0,0,0,.4);
}
.heads >* {
	margin:0;
}
.heads {
	margin:20px 0;
}
